In [2]:
import pandas as pd

# Sample Series
first_series = pd.Series([4, 65, 436, 3, 9])
second_series = pd.Series([7, 0, 3, 897, 9])

# Compare elements
comparison_results = {
    'Equal': first_series == second_series,
    'Greater': first_series > secont_series,
    'Lesser': first_series < second_series
}

comparison_df = pd.DataFrame(comparison_results)
print(comparison_df)

   Equal  Greater  Lesser
0  False    False    True
1  False     True   False
2  False     True   False
3  False    False    True
4   True    False   False

In [4]:
import pandas as pd

# Sample Series
first_series = pd.Series([2, 4, 6, 8, 14])
second_series = pd.Series([1, 3, 5, 7, 9])

# Arithmetic operations
add_series = first_series + second_series
sub_series = first_series - second_series
mul_series = first_series * second_series
div_series = first_series / second_series

# Display the results
operations_df = pd.DataFrame({
    'Addition': add_series,
    'Subtraction': sub_series,
    'Multiplication': mul_series,
    'Division': div_series
})

print(operations_df)

   Addition  Subtraction  Multiplication  Division
0         3            1               2  2.000000
1         7            1              12  1.333333
2        11            1              30  1.200000
3        15            1              56  1.142857
4        23            5             126  1.555556

In [6]:
import pandas as pd

# Sample dictionary
dictionary1 = {'Josh': 24, 'Sam': 36, 'Peace': 19, 'Charles': 65, 'Tom': 44}

# Convert dictionary to Pandas series
series_from_dict = pd.Series(dictionary1)

print(series_from_dict)

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [8]:
import pandas as pd

# Sample series
sample_series = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])

# Convert series to array
array_from_series = sample_series.to_numpy()

print(array_from_series)

['Love' 800 'Joy' 789.9 'Peace' True]

In [12]:
import pandas as pd

# Assuming df is the DataFrame and it's already loaded
df = pd.read_csv("AfricaCupofNationsMatches.csv")
# Replace 'df' with the actual DataFrame variable name
home_team_goals = df['HomeTeamGoals']

# Find the most frequent value
most_frequent_value = home_team_goals.mode()[0]

# Replace other values with 'Other'
df['HomeTeamGoals'] = home_team_goals.apply(lambda x: x if x == most_frequent_value else 'Other')

print(df['HomeTeamGoals'])

0        1.0
1      Other
2      Other
3      Other
4        1.0
       ...
617    Other
618      1.0
619    Other
620    Other
621    Other
Name: HomeTeamGoals, Length: 622, dtype: object

In [14]:
# Display the first few rows to ensure the data is loaded correctly
print(df.head())

   Year      Date  Time    HomeTeam       AwayTeam HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt           1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa         Other
2  1957  16-Feb-57   NaN     Egypt        Ethiopia         Other
3  1959  22-May-59   NaN      Egypt       Ethiopia         Other
4  1959  25-May-59   NaN     Sudan        Ethiopia           1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance
0   Khartoum     30000.0
1        NaN         NaN
2   Khartoum     30000.0
3      Cairo     30000.0
4      Cairo     20000.0

In [16]:
# Get the first 7 rows
first_seven_rows = df.head(7)

print(first_seven_rows)

   Year      Date  Time    HomeTeam       AwayTeam HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt           1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa         Other
2  1957  16-Feb-57   NaN     Egypt        Ethiopia         Other
3  1959  22-May-59   NaN      Egypt       Ethiopia         Other
4  1959  25-May-59   NaN     Sudan        Ethiopia           1.0
5  1959  29-May-59   NaN      Egypt          Sudan         Other
6  1962  14-Jan-62   NaN  Ethiopia         Tunisia         Other

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2            0.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament
5            1.0  Final Tournament
6            2.0        Semifinals

                                SpecialWinConditions                 Stadium  \
0                                                NaN       Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                     NaN
2                                                NaN       Municipal Stadium
3                                                NaN   Prince Farouk Stadium
4                                                NaN   Prince Farouk Stadium
5                                                NaN   Prince Farouk Stadium
6                                                NaN  Hailé Sélassié Stadium

           City  Attendance
0      Khartoum     30000.0
1           NaN         NaN
2      Khartoum     30000.0
3         Cairo     30000.0
4         Cairo     20000.0
5         Cairo     30000.0
6   Addis Ababa     30000.0

In [18]:
# Select rows where Egypt appears in either HomeTeam or AwayTeam
egypt_rows = df[(df['HomeTeam'] == 'Egypt') | (df['AwayTeam'] == 'Egypt')]

print(egypt_rows)

    Year      Date  Time    HomeTeam   AwayTeam HomeTeamGoals  AwayTeamGoals  \
3   1959  22-May-59   NaN      Egypt   Ethiopia         Other            0.0
5   1959  29-May-59   NaN      Egypt      Sudan         Other            1.0
7   1962  18-Jan-62   NaN      Egypt     Uganda         Other            1.0
9   1962  21-Jan-62   NaN  Ethiopia       Egypt         Other            2.0
13  1963  24-Nov-63   NaN      Egypt    Nigeria         Other            3.0
14  1963  26-Nov-63   NaN      Egypt      Sudan         Other            2.0
16  1963  30-Nov-63   NaN      Egypt   Ethiopia         Other            0.0

                Stage    SpecialWinConditions                 Stadium  \
3    Final Tournament                     NaN   Prince Farouk Stadium
5    Final Tournament                     NaN   Prince Farouk Stadium
7          Semifinals                     NaN  Hailé Sélassié Stadium
9               Final   win after extra time   Hailé Sélassié Stadium
13            Group B                     NaN   Kumasi Sports Stadium
14            Group B                     NaN   Kumasi Sports Stadium
16  Third place match                     NaN    Accra Sports Stadium

            City  Attendance
3          Cairo     30000.0
5          Cairo     30000.0
7    Addis Ababa     30000.0
9    Addis Ababa         NaN
13        Kumasi         NaN
14        Kumasi         NaN
16         Accra         NaN

In [20]:
# Count the number of rows and columns
rows, columns = df.shape

print(f'Number of rows: {rows}')
print(f'Number of columns: {columns}')

Number of rows: 622
Number of columns: 12

In [22]:
# Select rows where 'Attendance' is missing
missing_attendance_rows = df[df['Attendance'].isna()]

print(missing_attendance_rows)

     Year                         Date   Time        HomeTeam       AwayTeam  \
1    1957                     10-Feb-57    NaN      Ethiopia    South Africa
8    1962                     20-Jan-62    NaN       Tunisia          Uganda
9    1962                     21-Jan-62    NaN      Ethiopia           Egypt
10   1963                     24-Nov-63    NaN         Ghana         Tunisia
11   1963                     26-Nov-63    NaN         Ghana        Ethiopia
..    ...                           ...    ...            ...            ...
565  2017  29 January 2017 (2017-01-29)  20:00         Egypt         Morocco
566  2017  1 February 2017 (2017-02-01)  20:00  Burkina Faso           Egypt
567  2017  2 February 2017 (2017-02-02)  20:00      Cameroon           Ghana
568  2017  4 February 2017 (2017-02-04)  20:00  Burkina Faso           Ghana
569  2017  5 February 2017 (2017-02-05)  20:00         Egypt        Cameroon

    HomeTeamGoals  AwayTeamGoals                 Stage  \
1           Other            NaN            Semifinals
8           Other            0.0     Third place match
9           Other            2.0                 Final
10            1.0            1.0               Group A
11          Other            0.0               Group A
..            ...            ...                   ...
565           1.0            0.0        Quarter-finals
566           1.0            1.0           Semi-finals
567         Other            0.0           Semi-finals
568           1.0            0.0  Third place play-off
569           1.0            2.0                 Final

                                  SpecialWinConditions  \
1    Ethiopia  wins due to disqualification of othe...
8                                                  NaN
9                                win after extra time
10                                                 NaN
11                                                 NaN
..                                                 ...
565                                                NaN
566                        Egypt win on Penalities 3-4
567                                                NaN
568                                                NaN
569                                                NaN

                    Stadium          City  Attendance
1                       NaN           NaN         NaN
8    Hailé Sélassié Stadium   Addis Ababa         NaN
9    Hailé Sélassié Stadium   Addis Ababa         NaN
10     Accra Sports Stadium         Accra         NaN
11     Accra Sports Stadium         Accra         NaN
..                      ...           ...         ...
565    Stade de Port-Gentil   Port-Gentil         NaN
566       Stade de l'Amitié    Libreville         NaN
567    Stade de Franceville   Franceville         NaN
568    Stade de Port-Gentil   Port-Gentil         NaN
569       Stade de l'Amitié    Libreville         NaN

[100 rows x 12 columns]

In [26]:
# Select rows where 'HomeTeamGoals' are between 3 and 6 inclusive
home_team_goals_3_to_6 = df[df['HomeTeamGoals'].between(3, 6)]

print(home_team_goals_3_to_6)

TypeError: '>=' not supported between instances of 'str' and 'int'

In [28]:
# Change the 'AwayTeamGoals' in the 3rd row to 10
df.at[2, 'AwayTeamGoals'] = 10

print(df.iloc[2])

Year                                 1957
Date                            16-Feb-57
Time                                  NaN
HomeTeam                           Egypt
AwayTeam                         Ethiopia
HomeTeamGoals                       Other
AwayTeamGoals                        10.0
Stage                               Final
SpecialWinConditions                  NaN
Stadium                 Municipal Stadium
City                             Khartoum
Attendance                        30000.0
Name: 2, dtype: object

In [1]:
# Sort the DataFrame first by 'HomeTeam' in ascending order, then by 'HomeTeamGoals' in descending order
sorted_df = df.sort_values(by =['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])

print(sorted_df)

NameError: name 'df' is not defined

In [32]:
# Get list from DataFrame column headers
column_headers = list(df.columns)

print(column_headers)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [34]:
# Append a new column 'Weather' with default values
df['Weather'] = 'Sunny'

print(df.head())

   Year      Date  Time    HomeTeam       AwayTeam HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt           1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa         Other
2  1957  16-Feb-57   NaN     Egypt        Ethiopia         Other
3  1959  22-May-59   NaN      Egypt       Ethiopia         Other
4  1959  25-May-59   NaN     Sudan        Ethiopia           1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance Weather
0   Khartoum     30000.0   Sunny
1        NaN         NaN   Sunny
2   Khartoum     30000.0   Sunny
3      Cairo     30000.0   Sunny
4      Cairo     20000.0   Sunny

In [38]:
# Create new rows as a DataFrame
new_rows = pd.DataFrame({
    'HomeTeam': ['TeamA', 'TeamB'],
    'AwayTeam': ['TeamC', 'TeamD'],
    'HomeTeamGoals': [1, 2],
    'AwayTeamGoals': [2, 1],
    'Attendance': [5000, 7000],
    'Weather': ['Rainy', 'Cloudy']
})

# Append new rows to the DataFrame
df = df.append(new_rows, ignore_index=True)

print(df.tail())

AttributeError: 'DataFrame' object has no attribute 'append'

In [40]:
# Change 'Uganda' to 'China' in the 'AwayTeam' column
df['AwayTeam'] = df['AwayTeam'].replace('Uganda', 'China')

print(df[df['AwayTeam'] == 'China'])

Empty DataFrame
Columns: [Year, Date , Time , HomeTeam, AwayTeam, HomeTeamGoals, AwayTeamGoals, Stage, SpecialWinConditions, Stadium, City, Attendance, Weather]
Index: []

In [42]:
# Reset index in the DataFrame
df = df.reset_index(drop=True)

print(df.head())

   Year      Date  Time    HomeTeam       AwayTeam HomeTeamGoals  \
0  1957  10-Feb-57   NaN     Sudan           Egypt           1.0
1  1957  10-Feb-57   NaN  Ethiopia    South Africa         Other
2  1957  16-Feb-57   NaN     Egypt        Ethiopia         Other
3  1959  22-May-59   NaN      Egypt       Ethiopia         Other
4  1959  25-May-59   NaN     Sudan        Ethiopia           1.0

   AwayTeamGoals             Stage  \
0            2.0        Semifinals
1            NaN        Semifinals
2           10.0             Final
3            0.0  Final Tournament
4            0.0  Final Tournament

                                SpecialWinConditions                Stadium  \
0                                                NaN      Municipal Stadium
1  Ethiopia  wins due to disqualification of othe...                    NaN
2                                                NaN      Municipal Stadium
3                                                NaN  Prince Farouk Stadium
4                                                NaN  Prince Farouk Stadium

        City  Attendance Weather
0   Khartoum     30000.0   Sunny
1        NaN         NaN   Sunny
2   Khartoum     30000.0   Sunny
3      Cairo     30000.0   Sunny
4      Cairo     20000.0   Sunny

In [44]:
# Check if 'Stadium' column is present
is_stadium_present = 'Stadium' in df.columns

print(f'Is "Stadium" column present?: {is_stadium_present}')

Is "Stadium" column present?: True

In [46]:
# Convert the datatype of 'AwayTeamGoals' from int to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

print(df.dtypes)

Year                      int64
Date                     object
Time                     object
HomeTeam                 object
AwayTeam                 object
HomeTeamGoals            object
AwayTeamGoals           float64
Stage                    object
SpecialWinConditions     object
Stadium                  object
City                     object
Attendance              float64
Weather                  object
dtype: object

In [11]:
# Remove the last 10 rows
df = df[:-10]

print(df.tail())

NameError: name 'df' is not defined

In [7]:
# Iterate over rows in the DataFrame
for index, row in df.iterrows():
    print(f"Index: {index}")
    print(row)
    print()  # Print a newline for better readability

NameError: name 'df' is not defined

In [52]:
# Change the order of columns, let's move 'Weather' to be the first column
new_column_order = ['Weather', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Attendance']
df = df[new_column_order]

print(df.head())

  Weather   HomeTeam       AwayTeam HomeTeamGoals  AwayTeamGoals  Attendance
0   Sunny     Sudan           Egypt           1.0            2.0     30000.0
1   Sunny  Ethiopia    South Africa         Other            NaN         NaN
2   Sunny     Egypt        Ethiopia         Other           10.0     30000.0
3   Sunny      Egypt       Ethiopia         Other            0.0     30000.0
4   Sunny     Sudan        Ethiopia           1.0            0.0     20000.0

In [54]:
# Delete rows where 'HomeTeamGoals' is 0
df = df[df['HomeTeamGoals'] != 0]

print(df.head())

  Weather   HomeTeam       AwayTeam HomeTeamGoals  AwayTeamGoals  Attendance
0   Sunny     Sudan           Egypt           1.0            2.0     30000.0
1   Sunny  Ethiopia    South Africa         Other            NaN         NaN
2   Sunny     Egypt        Ethiopia         Other           10.0     30000.0
3   Sunny      Egypt       Ethiopia         Other            0.0     30000.0
4   Sunny     Sudan        Ethiopia           1.0            0.0     20000.0